EnvInt.Win32.FieldTech/EnvInt.Win32.FieldTech.Toolbox/Service References/EiServiceReference/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://services.env-int.com/services.MainService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://services.env-int.com/services.MainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainService_SendError_InputMessage">
    <wsdl:part name="parameters" element="tns:SendError" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetCurrentProductVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentProductVersion" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetCurrentProductVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentProductVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetCurrentProductBinary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentProductBinary" />
  </wsdl:message>
  <wsdl:message name="IMainService_GetCurrentProductBinary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentProductBinaryResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_SendAudit_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAudit" />
  </wsdl:message>
  <wsdl:portType name="IMainService">
    <wsdl:operation name="SendError">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/SendError" message="tns:IMainService_SendError_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentProductVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetCurrentProductVersion" message="tns:IMainService_GetCurrentProductVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetCurrentProductVersionResponse" message="tns:IMainService_GetCurrentProductVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentProductBinary">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/GetCurrentProductBinary" message="tns:IMainService_GetCurrentProductBinary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/GetCurrentProductBinaryResponse" message="tns:IMainService_GetCurrentProductBinary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAudit">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/SendAudit" message="tns:IMainService_SendAudit_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMainService" type="tns:IMainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendError">
      <soap:operation soapAction="http://tempuri.org/IMainService/SendError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentProductVersion">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetCurrentProductVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentProductBinary">
      <soap:operation soapAction="http://tempuri.org/IMainService/GetCurrentProductBinary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAudit">
      <soap:operation soapAction="http://tempuri.org/IMainService/SendAudit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="BasicHttpBinding_IMainService" binding="tns:BasicHttpBinding_IMainService">
      <soap:address location="http://services.env-int.com/services.MainService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>